
.thumbnail img{
  max-height: 150px;
  padding-top: 10px;
}

.thumbnail .description{
  color: #7f7f7f;
}

.price{
  font-weight: bold;
  font-size: 16px;
}

.border{
  margin-top:  30px;
  margin-left: auto;
}
